@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Merienda&family=Niconne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Londrina+Solid:wght@400;900&family=Mate+SC&family=Pacifico&family=ZCOOL+KuaiLe&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.back {
  background-image: url(./6ba9f8f880668e9ddeecac613d5f5913.jpg);
}
.navigation {
  height: 34px;
  font-family: "KoHo", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-left {
  font-size: 1em;
  display: flex;
  font-family: "Mate SC", serif;
  margin: 11px 0 0 150px;
  animation-name: laluyadavanimation;
  animation-duration: 5s;
}
@keyframes laluyadavanimation {
  from {
    margin: 0 0 0 126vw;
  }
  to {
    margin: 0 0 0 0vw;
  }
}
.nav-left ul {
  display: flex;
  align-items: center;
  margin: 25px 0 0 8px;
  list-style: none;
}
.nav-left ul li {
}
@keyframes animli {
  from {
    margin: -43px;
  }
  to {
    margin: 0 45px;
  }
}
.nav-left span {
  font-family: "Mate SC";
  color: pink;
  font-size: 40px;
}
.nav-left span:hover {
  animation-name: animli;
  animation-duration: 1s;
}

@keyframes animli {
  0% {
    transform: rotate(0deg);
  }
  /* 1% {
    transform: rotate(10deg);
  }
  2% {
    transform: rotate(20deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  } */
  100% {
    transform: rotate(360deg);
  }
}

.nav-left ul a {
  margin: 0 0 0 27px;
  list-style: none;
  text-decoration: none;
  font-size: 17px;
  color: #ffc0cb;
}
.nav-left > ul > li > a:hover {
  font-weight: bolder;
  color: rgb(255, 255, 255);
  animation-name: lallu;
  animation-duration: 1s;
}
.nav-left > .lallu:hover {
}
@keyframes lallu {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.content-left {
  font-family: cursive;
  width: fit-content;

  display: FLEX;
  flex-direction: column;

  justify-content: center;
  animation-duration: 5s;
  animation-name: content-left;
  margin: 0 0px 0 10vw;
}
.class {
  font-family: "Mountains of Christmas", cursive;
  font-weight: 700;
  font-size: 26px;
  color: #c7cacc;
}
@keyframes content-left {
  from {
    margin: 0 0 0 -90vw;
  }
  to {
    margin: 0 0 0 10vw;
  }
}
.content-left p {
  width: 27vw;
  color: #c7cacc;
  font-family: "Mountains of Christmas";
}
.content-left p:hover {
  animation: paraanime 1s;
  animation-iteration-count: 1;
}
@keyframes paraanime {
  from {
    margin: 0 0 0 0;
  }
  to {
    margin: -135px 0 0 0;
  }
}
.content-right {
  width: 50%;

  display: FLEX;
  align-items: center;
  justify-content: center;

  animation-name: animat;
  animation-duration: 3s;
}
.content-right .img {
  height: 180px;
  margin: 0 0 0 -198px;
  border-radius: 123px;
  border: 2px solid black;
  transition: transform 1s;
  position: relative;
}
.content-right .img:hover {
  cursor: pointer;
  transform: translateX(100%);
  margin: 0 0 0 -100px;
}
.content-right p {
  margin: 0px 0 0 -146px;
  width: 142px;
  font-family: "Mountains of Christmas", cursive;
  color: #9ac4e9;
  font-size: 27px;
}
.com {
  font-family: "Mountains of Christmas", cursive;
  font-size: 27px;
  width: 9vw;
  color: #9ac4e9;
  margin: 0 0 0 3vw;
}
.content {
  height: 223px;

  display: flex;
  margin: 50px 0 0 0vw;
}
.home-articles {
  height: 1200px;
  background-color: rgb(255, 255, 255);
}
.home-articles h2 {
  font-family: "Merienda", cursive;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  padding: 67px 0 0 0;
  animation: tannu 4s;
}
.home-articles h2:hover {
}

@keyframes tannu {
  from {
    font-family: "Merienda", cursive;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    padding: 67px 0 0 0;
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.section1 {
  background-color: brown;
  height: 401px;
  /* padding: 0 0 0 0px; */
  margin: 55px 0 43px 0;
}
.section2 {
  background-color: brown;
  height: 401px;
  /* padding: 0 0 0 0px; */
  margin: 55px 0 43px 0;
}
.section3 {
  background-color: brown;
  height: 401px;
  /* padding: 0 0 0 0px; */
  margin: 55px 0 43px 0;
}
.section4 {
  background-color: brown;
  height: 401px;
  /* padding: 0 0 0 0px; */
  margin: 55px 0 43px 0;
}

.home-article {
  width: 29vw;
  background: rgb(255, 255, 255);
  margin: 70px 0 0 30px;
  display: inline-block;
}
.home-article .image {
  height: 25vw;
  width: 31vw;
}
.home-article-content {
  width: 25vw;

  font-family: "Merienda";

  background: #ddcccc;
}

.footer {
  height: 200px;
  background-color: rgb(36, 12, 12);
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 500px 0 0 0;
}
