@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@400;500;600;700&display=swap"):
  root {
  --main-bg-color: brown;
}
.max-width-1 {
  max-width: 80vw;
}
.max-width-2 {
  max-width: 60vw;
}
.m-auto {
  margin: auto;
}

.max-width-1 m-auto {
  margin: 14px 0 0 139px;
}
.btn {
  padding: 0 2px;
  border-radius: 13px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  color: white;
  background-color: brown;
}

.form-control {
  padding: 4px 4px;
  border: 2px solid black;
  font-size: 18px;
  border-radius: 20px;
}
